* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #111111;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #cccccc;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

#server-time {
    float: right;
    width: 200px;
    text-align: right;
}


dt {
    font-weight: bold;
}

dd {
    font-style: normal;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10px;
}

/* BELOW: All Structural Stuff*/
.widthsetter {
    max-width: 1000px;
    margin: 0 auto;
}

/* Begin Header/Footer Bars*/
#header {
    background: #0E3B43;
    margin-bottom: 20px;
    margin-top: 0;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: normal;
}

#main-content {
    margin-bottom: 100px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #0E3B43;
    margin-bottom: 0;
    margin-top: 50px;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: normal;
}

/* End Header/Footer Container*/

/* Begin Header Graphic Container */
#logo {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 75px;
    background: url('/img/ww5logo.png') center no-repeat;
    cursor: pointer;
    -webkit-background-size: contain;
    background-size: contain;
}

#userpanel {
    float: right;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* End Header Graphic Container*/

/* Begin Content Container*/
#content {
    background: #111;
}

#pagetitle {
    font-family: $ww-header-font-family, Georgia, Times, serif;
    max-width: 1000px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

#contenta {
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* End Content Container*/

/* Begin Main Drop Down Nagivation*/

#nav {
    clear: both;
    max-width: 1000px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: auto;
}

.menu a {
    display: block;
}

/* Behaviors */
.clickable {
    cursor: pointer;
}

.link {
    color: #EFD6AC;
}

.link:hover {
    color: #ffffff;
}

/* ************************** */
/* Layout Styles  */
/* ************************** */

.paragraph {
    margin-bottom: 10px;
}

/* ************************** */
/* Form Styles                */
/* ************************** */

div.formInput {
    margin-bottom: 10px;
}

div.formInput input, div.formInput select, div.formInput textarea {
    border: solid 1px #000;
    padding: 4px;
}

div.formInput input[type="text"] {
    width: 90%;
}

div.formInput textarea {
    width: 90%;
}

input[type="submit"] {
    padding: 4px;
}

/* ************************** */
/* Wiki Styles                */
/* ************************** */

.wiki-content table {
    border-collapse: separate;
}

.wiki-content table tr:nth-child(even) td {
    background-color: transparent;
}

.wiki-content th {
    text-align: center;
    padding: 0;
}

.wiki-content td {
    padding: 0;
}

/* Sheet Styles */

.xp_sheet_help {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #cccccc;
    background-color: #333333;
    border: thin solid #000;
    padding: 2px;
    width: 100px;
}

.xp_sheet_help_box {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #cccccc;
    background-color: #3c6e71;
    border: thin solid #000;
    visibility: hidden;
}

table.character-sheet {
    margin-bottom: 5px;
}

table.character-sheet label {
    display: inline;
}

table.character-sheet th {
    border: 0;
    background-color: transparent;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

table.character-sheet td {
    background-color: transparent;
}

table.character-sheet td.header-row {
    font-weight: bold;;
    text-align: center;
    font-size: 14px;
}

table.character-sheet tr:nth-child(even) td {
    background-color: transparent;
}

table.character-sheet td input[type="text"] {
    width: 95%;
    border: solid 1px #000;
    padding: 2px;
}

table.character-sheet td input[type="text"][size="3"] {
    border: solid 1px #000;
    padding: 2px;
    width: 30px;
}

table.character-sheet td select {
    border: solid 1px #000;
}

table.character-sheet textarea {
    border: solid 1px #000;
}

table.character-sheet th input {
    border: solid 1px #000;
    padding: 2px;
}

table.character-sheet > tbody > tr > td {
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}

.mortal_normal_text {
    color: #ccc;
    text-align: left;
}

table.mortal_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #9992d6;
    color: #fff;
}

table.mortal_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #8781bd;
    color: #fff;
}

.vampire_normal_text {
    color: #ccc;
    text-align: left;
}

table.vampire_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #9e0b0f;
    color: #fff;
}

table.vampire_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #b80d13;
    color: #fff;
}

.werewolf_normal_text {
    color: #ccc;
    text-align: left;
}

table.werewolf_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #74483f;
    color: #fff;
}

table.werewolf_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #8c564c;
    color: #fff;
}

.mage_normal_text {
    color: #ccc;
    text-align: left;
}

table.mage_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #004a80;
    color: #fff;
}

table.mage_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #005999;
    color: #fff;;
}

.ghoul_normal_text {
    color: #ccc;
    text-align: left;
}

table.ghoul_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #9e0b0f;
    color: #fff;
}

table.ghoul_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #b80d13;
    color: #fff;
}

.changeling_normal_text {
    color: #ccc;
    text-align: left;
}

table.changeling_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #005826;
    color: #fff;
}

table.changeling_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #007332;
    color: #fff;
}

.geist_normal_text {
    color: #ccc;
    text-align: left;
}

table.geist_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #415582;
    color: #fff;
}

table.geist_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #4e659c;
    color: #fff;
}

.tinymce-content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tinymce-content p {
    padding-bottom: 10px;
}

.tinymce-content ul, .tinymce-content ol {
    padding-left: 40px;
    margin: 11px 0;
}

.flash-message, .message {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background: #333333;
    border-radius: 5px;
    border: solid 1px #932d4f;
}

.error-message {
    color: #FFF;
    font-weight: bold;
    background: #932d4f;
    border-radius: 5px;
    padding: .4rem;
    border: solid 1px #333;
}

.error-message:before {
    content: '* '
}

.paging {
    margin: 10px 0;
    text-align: center;
}

.paging span {
    padding-right: 5px;
}

.paging span.prev {
    text-transform: uppercase;
}

.paging span.next {
    text-transform: uppercase;
}

.paging span.current {
    text-decoration: underline;
    font-weight: bold;
}

#busy-indicator {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 130px;
}

#main-menu {
    margin-top: 9px;
}

div.formInput {
    margin-bottom: 10px;
}

.secondary-text {
    color: #cccccc;
}

.hidden-panel-content {
    display: none;
    border: 1px solid #000;
    background-color: #333333;
    padding: 5px;
}

/* Calendar classes */
.calendar-day-head {
    font-weight: bold;
}

.calendar-day {
    vertical-align: top;
    width: 14%;
}

.calendar-day-today {
    background-color: #222222;
}

.mortal {
    background-color: #0e3b43;
    border: solid 1px #000;
    padding: 3px;
}

ul.tags {
    list-style: none;
}

.tags li {
    display: inline;
}

.lined-column {
    border-top: 1px solid #26292c;
}

/* Form Layout */
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #333333;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #cccccc;
    background-color: #222222;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 3px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
    border: 1px solid #333333;
    background-color: #111111;
    outline: none;
    box-shadow: 0 0 5px #000000;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

textarea {
    max-width: 100%;
}

textarea[rows] {
    height: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cacaca;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #cacaca;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cacaca;
}

input::placeholder,
textarea::placeholder {
    color: #cacaca;
}

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
    background-color: #222222;
    cursor: not-allowed;
}

[type='submit'],
[type='button'] {
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type='search'] {
    box-sizing: border-box;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 1rem;
}

[type='checkbox'] + label,
[type='radio'] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

[type='checkbox'] + label[for],
[type='radio'] + label[for] {
    cursor: pointer;
}

label > [type='checkbox'],
label > [type='radio'] {
    margin-right: 0.5rem;
}

[type='file'] {
    width: 100%;
}

label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #cccccc;
}

label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0;
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem;
}

.input-group > :first-child {
    border-radius: 3px 0 0 3px;
}

.input-group > :last-child > * {
    border-radius: 0 3px 3px 0;
}

.input-group-label, .input-group-field, .input-group-button {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}

.input-group-label {
    text-align: center;
    padding: 0 1rem;
    background: #333333;
    color: #cccccc;
    border: 1px solid #333333;
    white-space: nowrap;
    width: 1%;
    height: 100%;
}

.input-group-label:first-child {
    border-right: 0;
}

.input-group-label:last-child {
    border-left: 0;
}

.input-group-field {
    border-radius: 0;
    height: 2.5rem;
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    height: 100%;
    width: 1%;
}

.input-group-button a,
.input-group-button input,
.input-group-button button {
    margin: 0;
}

.input-group .input-group-button {
    display: table-cell;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.fieldset {
    border: 1px solid #cacaca;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

.fieldset legend {
    background: #222222;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
}

select {
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #333333;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #cccccc;
    background-color: #222222;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 1.5rem;
}

@media screen and (min-width: 0\0
) {
    select {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
    }
}

select:disabled {
    background-color: #333333;
    cursor: not-allowed;
}

select::-ms-expand {
    display: none;
}

select[multiple] {
    height: auto;
    background-image: none;
}

.is-invalid-input:not(:focus) {
    background-color: rgba(198, 15, 19, 0.1);
    border-color: #333333;
}

.is-invalid-label {
    color: #999999;
}

/*.form-error {*/
    /*display: none;*/
    /*margin-top: -0.5rem;*/
    /*margin-bottom: 1rem;*/
    /*font-size: 0.75rem;*/
    /*font-weight: bold;*/
    /*color: #c60f13;*/
/*}*/

/*.form-error.is-visible {*/
    /*display: block;*/
/*}*/

/* text */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

/* tinymce silliness */
.tinymce-textarea {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
}

/* JQUERY AUTOCOMPLETE */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #000;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #333333;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}


/* Fonudation modifications */
textarea {
    height: auto;
}

.sticky {
    z-index: 1;
}
