<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<link type="text/css" href="../css/gaming-sandbox.css" rel="Stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css" />
    <link type="text/css" href="../css/wanton/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>
    <link type="text/css" href="../css/wanton/jquery.ui.menubar.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="../js/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../js/jquery.ui.menubar.js"></script>
    <script type="text/javascript" src="../js/wanton.js"></script>
<script type="text/javascript" src="../js/gaming-sandbox.js"></script>
{META}
<title>Wanton Wicked &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->


<script type="text/javascript">
// <![CDATA[
<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
	popup('{UA_POPUP_PM}', 400, 225, '_phpbbprivmsg');
<!-- ENDIF -->

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';

	if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
	{
		if (base_url.indexOf('?') == -1)
		{
			document.location.href = base_url + '?start=' + ((page - 1) * per_page);
		}
		else
		{
			document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
		}
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');

	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

<!-- IF ._file -->

	/**
	* Play quicktime file by determining it's width/height
	* from the displayed rectangle area
	*
	* Only defined if there is a file block present.
	*/
	function play_qt_file(obj)
	{
		var rectangle = obj.GetRectangle();

		if (rectangle)
		{
			rectangle = rectangle.split(',')
			var x1 = parseInt(rectangle[0]);
			var x2 = parseInt(rectangle[2]);
			var y1 = parseInt(rectangle[1]);
			var y2 = parseInt(rectangle[3]);

			var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
			var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
		}
		else
		{
			var width = 200;
			var height = 0;
		}

		obj.width = width;
		obj.height = height + 16;

		obj.SetControllerVisible(true);

		obj.Play();
	}
<!-- ENDIF -->

// ]]>
</script>
</head>
<body class="{S_CONTENT_DIRECTION}">

<a name="top"></a>
<div id="gs-header-bar">
    <div id="gs-header-inner">
        <div id="gs-header-logo">
            <a href="/" id="gs-header-logo-nav">
                Wanton Wicked
            </a>
        </div>
        <div id="gs-header-games">
            <select id="gs-game-selector">
                <option value="www">Home</option>
                <option value="ragnarok">Ragnarok NYC</option>
                <option value="wantonwicked" selected>Wanton Wicked</option>
            </select>
        </div>
    </div>
</div>
<div id="wrapper">
<div id="login">
<div id="logina">
<div id="loginb" valign="center"><!-- IF not S_IS_BOT --><a href="{U_LOGIN_LOGOUT}"><font color="#FFFFFF"> {L_LOGIN_LOGOUT}</font></a>&nbsp;<!-- ENDIF --> <!-- IF not S_IS_BOT -->
					<!-- IF S_USER_LOGGED_IN -->
						<!-- IF S_DISPLAY_PM --> <font color="#FFFFFF">|</font> <a href="{U_PRIVATEMSGS}"><font color="#FFFFFF">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD -->, {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></font></a><!-- ENDIF -->
					<!-- ELSEIF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --> <font color="#FFFFFF">|</font> <a href="{U_REGISTER}"><font color="#FFFFFF">{L_REGISTER}</font></a>
					<!-- ENDIF -->
				<!-- ENDIF -->
                <span style="float:right;" id="server-time"></span></div>
</div>
</div>
<div id="header" align="center">
<img src="{T_THEME_PATH}/images/ww_banner.png" width="652" height="100" /></div>

<div id="nav">
    <ul class='menu' id='main-menu'>
        <li><a href="/" target="_top"><span>Home</span></a></li>
        <li><a href="/forum/index.php"><span>Forums</span></a></li>
        <li><a href="#"><span>Site Tools</span></a>
            <ul>
                <li><a href="/support.php"><span>Site Supporter</span></a>
                    <!-- IF U_IS_ADMIN -->
                    <ul>
                        <li><a href="/support.php?action=manage"><span>Manage Support</span></a></li>
                    </ul>
                    <!-- ENDIF -->
                </li>
                <!-- IF S_USER_LOGGED_IN -->
                <li><a href="/chat.php">Character List</a>
                    <ul>
                        <li><a href="/view_sheet.php?action=create_xp"><span>Create A Character</span></a></li>
                    </ul>
                </li>
                <!-- ENDIF -->
                <!-- IF U_IS_STORYTELLER -->
                <li><a href="/storyteller_index.php"><span>ST Tools</span></a>
                    <ul>
                        <li><a href="/view_sheet.php?action=st_view_xp"><span>Character Lookup</span></a></li>
                        <li><a href="/request.php?action=st_list"><span>Request Dashboard</span></a></li>
                        <li><a href="/chat/?st_login" target="_blank"><span>Chat Login</span></a></li>
                    </ul>
                </li>
                <!-- ENDIF -->
            </ul>
        </li>
        <li><a href="#"><span>Help</span></a>
            <ul>
                <li><a href="/staff"><span>Meet the Team</span></a></li>
                <li><a href="#"><span>Site Policy</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=GameRef.CodeOfConduct"><span>Code of Conduct</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.PoliciesandPractices"><span>Other Policies</span></a>
                        </li>
                        <li><a href="/wiki/index.php?n=GameRef.Disclaimer"><span>Disclaimer</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.BookPolicy"><span>Book Policy</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Help Guides</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=GameRef.CodeOfConduct"><span>New Player Help</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.WikiGuide"><span>Wiki Guide</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.PoliciesandPractices"><span>Chat Help</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.RequestSystemHelp"><span>Request System</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.ExperienceGuide"><span>Experience Guide</span></a></li>
                        <li><a href="/wiki/index.php?n=GameRef.SanctioningGuide"><span>Sanctioning Guide</span></a></li>
                    </ul>
                </li>
                <li><a href="/wiki/index.php?n=GameRef.HouseRules"><span>House Rules</span></a></li>
                <li><a href="/wiki/index.php?n=GameRef.CrossoverErrata"><span>Crossover Rules</span></a></li>
                <li><a href="/wiki/index.php?n=GameRef.CharacterCreation"><span>Character Creation</span></a></li>
            </ul>
        </li>
        <li><a href="#"><span>The City</span></a>
            <ul>
                <li><a href="/wiki/index.php?n=City.City"><span>Setting Introduction</span></a></li>
                <li><a href="/ww4map/map.html"><span>City Map</span></a></li>
                <li><a href="/wiki/index.php?n=City.Districts"><span>City Districts</span></a></li>
                <li><a href="/characters/cast/"><span>Cast List</span></a></li>
                <li><a href="#"><span>Crossover Venues</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Shadow.Shadow"><span>The Shadow</span></a></li>
                        <li><a href="/wiki/index.php?n=Whitefield.Whitefield"><span>Whitefield University</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#"><span>The Venues</span></a>
            <ul>
                <li><a href="#"><span>Changeling</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Changeling.Changeling"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Changeling.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Changeling.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Changeling.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Changeling.HouseRules"><span>Changeling House Rules</span></a>
                        </li>
                        <li><a href="/wiki/index.php?n=Changeling.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=615"><span>Changeling Forums</span></a></li>
                        <li><a href="/characters/cast/changeling"><span>Cast List</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Geist</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Geist.Geist"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Geist.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Geist.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Geist.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Geist.HouseRules"><span>Geist House Rules</span></a></li>
                        <li><a href="/wiki/index.php?n=Geist.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=716"><span>Geist Forums</span></a></li>
                        <li><a href="/characters/cast/geist"><span>Cast List</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Mage</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Mage.Mage"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Mage.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Mage.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Mage.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Mage.HouseRules"><span>Mage House Rules</span></a></li>
                        <li><a href="/wiki/index.php?n=Mage.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=624"><span>Mage Forums</span></a></li>
                        <li><a href="/characters/cast/mage"><span>Cast List</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Mortal</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Mortal.Mortal"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Mortal.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Mortal.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Mortal.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Mortal.HouseRules"><span>Mortal House Rules</span></a></li>
                        <li><a href="/wiki/index.php?n=Mortal.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=625"><span>Mortal Forums</span></a></li>
                        <li><a href="/characters/cast/mortal"><span>Cast List</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Vampire</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Vampire.Vampire"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Vampire.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Vampire.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Vampire.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Vampire.HouseRules"><span>Vampire House Rules</span></a></li>
                        <li><a href="/wiki/index.php?n=Vampire.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=665"><span>Vampire Forums</span></a></li>
                        <li><a href="/characters/cast/vampire"><span>Cast List</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Werewolf</span></a>
                    <ul>
                        <li><a href="/wiki/index.php?n=Werewolf.Werewolf"><span>Overview</span></a></li>
                        <li><a href="/wiki/index.php?n=Werewolf.Society"><span>Society</span></a></li>
                        <li><a href="/wiki/index.php?n=Werewolf.History"><span>History</span></a></li>
                        <li><a href="/wiki/index.php?n=Werewolf.Locations"><span>Locations</span></a></li>
                        <li><a href="/wiki/index.php?n=Werewolf.HouseRules"><span>Werewolf House Rules</span></a></li>
                        <li><a href="/wiki/index.php?n=Werewolf.PlayerGuide"><span>Character Creation</span></a></li>
                        <li><a href="/forum/viewforum.php?f=626"><span>Werewolf Forums</span></a></li>
                        <li><a href="/characters/cast/werewolf"><span>Cast List</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#"><span>Sidegames</span></a>
            <ul>
                <li><a href="/wiki/index.php?n=Sidegames.Sidegames"><span>Sidegame List</span></a></li>
                <li><a href="/forum/viewforum.php?f=763"><span>Sidegame Forums</span></a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="content">
<div id="pagetitle">
{PAGE_TITLE}
</div>
<div id="contenta">
<div id="contentb">

<div id="wrapheader">
	<div id="datebar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="gensmall"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ENDIF --></td>
			<td class="gensmall" align="{S_CONTENT_FLOW_END}">{CURRENT_TIME} - {S_TIMEZONE}<br /></td>
		</tr>
		</table>
	</div>

	<div id="menubar">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="genmed">

				<!-- IF U_RESTORE_PERMISSIONS --> &nbsp;<a href="{U_RESTORE_PERMISSIONS}"><img src="{T_THEME_PATH}/images/icon_mini_login.gif" width="12" height="13" alt="*" /> {L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
				<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN --> &nbsp;<span style="color: red;">{L_BOARD_DISABLED}</span><!-- ENDIF -->

			</td>
			<td class="genmed" align="{S_CONTENT_FLOW_END}">
				<a href="{U_FAQ}"><img src="{T_THEME_PATH}/images/icon_mini_faq.gif" width="12" height="13" alt="*" /> {L_FAQ}</a>
				<!-- IF S_DISPLAY_SEARCH -->&nbsp; &nbsp;<a href="{U_SEARCH}"><img src="{T_THEME_PATH}/images/icon_mini_search.gif" width="12" height="13" alt="*" /> {L_SEARCH}</a><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST -->&nbsp; &nbsp;<a href="{U_MEMBERLIST}"><img src="{T_THEME_PATH}/images/icon_mini_members.gif" width="12" height="13" alt="*" /> {L_MEMBERLIST}</a><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->&nbsp; &nbsp;<a href="{U_PROFILE}"><img src="{T_THEME_PATH}/images/icon_mini_profile.gif" width="12" height="13" alt="*" /> {L_PROFILE}</a><!-- ENDIF -->
				<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</div>

</div>

<div id="wrapcentre">
	<!-- INCLUDE breadcrumbs.html -->
	<!-- IF S_DISPLAY_SEARCH -->
	<p class="searchbar">
		<span style="float: {S_CONTENT_FLOW_END};"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> | <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a> |
		<!-- IF S_USER_LOGGED_IN or S_LOAD_UNREADS -->
		<!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}"><b>{L_SEARCH_UNREAD}</b></a><!-- IF S_USER_LOGGED_IN --> | <!-- ENDIF --><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> | <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF --></span>
		<!-- ENDIF -->
	</p>
	<!-- ENDIF -->

	<br style="clear: both;" />



	<br />
