BODY {
    margin: 0;
    background: black url(http://www.wantonwicked.net/img/diamonds.gif);
}

FORM {
    margin-bottom: 0;
}

.table {
    border: 2px solid #FFFFFF;
}

.tmenu {
    border: 2px solid #FFFFFF;
    position: absolute;
    left: 10px;
    top: 134px;
}

.tmain {
    border: 2px solid #FFFFFF;
}

.tmainwod {
    border: 2px solid #FFFFFF;
    background: #262626 url(http://www.wantonwicked.net/img/bgwod1.gif) no-repeat top center;
}

.tbase {
    border: 2px solid #FFFFFF;
}

.ttop {
    border-bottom: 1px solid #FFFFFF;
}

a {
    text-decoration: none
}

a.linkmenu:link, a.linkmenu:visited {
    color: silver;
}

a.linkmenu:hover, a.linkmenu:active {
    color: white;
    text-decoration: none;
}

a.linkmain:link, a.linkmain:visited {
    color: #4477ff;
    font-weight: 600;
}

a.linkmain:hover, a.linkmain:active {
    text-decoration: underline;
}

a.linkbase:link, a.linkbase:visited {
    color: gray;
}

a.linkbase:hover, a.linkbase:active {
    color: white;
    font-weight: bold;
}

a.linkcell:link, a.linkcell:visited {
    color: black;
}

a.linkcell:hover, a.linkcell:active {
    font-weight: bold;
    color: maroon;
}

a.linkxpsheet:link, a.linkxpsheet:visited {
    color: #2444bb;
    font-weight: 600;
    background-color: #ffffff;
    border: thin solid #000000
}

a.linkxpsheet:hover, a.linkxpsheet:active {
    text-decoration: underline;
}

.small_text {
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

.normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.highlight {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #eeeeee
}

.error_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #ff0000
}

.heading {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    color: #eeeeee
}

.major_heading {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-weight: 600;
    color: #eeeeee
}

.mortal_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #ddddee
}

.vampire_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #eedddd
}

.werewolf_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #eeeedd
}

.mage_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #d1e7ff
}

.ghoul_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #eedddd
}

.promethean_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #5c5aac
}

.changeling_normal_text {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #eeeeee
}

.submit {
    background-color: #000000;
    color: #808080;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    border: thin solid #808080;
}

.xp_sheet_help {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #ee4444;
    background-color: #e5e5e5;
    border: thin solid #000;
    padding: 2px;
    width: 100px;
}

.xp_sheet_help_box {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #000000;
    background-color: #e5e5e5;
    border: thin solid #000;
    visibility: hidden;
}

.brand_bar {
    background: #000 url('/img/webroot/img/title2.gif');
    vertical-align: bottom;
    height: 100px;
    width: 100%;
    border-bottom: thin solid white;
}

.brand_logo {
    text-align: right;
    position: absolute;
    right: 0;
    top: 45px;
}

.user_bar {
    background: #f00;
    position: absolute;
    left: 0;
    top: 101px;
    width: 200px;
}

.user_bar_left {
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
}

.user_bar_center {
    background-color: #c0c0c0;
    width: 175px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: 0;
}

.user_bar_right {
    text-align: left;
    position: absolute;
    left: 195px;
    top: 0;
}

.user_bar_text {
    width: 175px;
    height: 35px;
    position: absolute;
    top: 2px;
    text-align: center;
}

.container {
    width: 100%;
}

.navigation_bar {
    border: 2px solid #FFFFFF;
    position: absolute;
    left: 10px;
    top: 134px;
    width: 191px;
    background-color: #262626;
}

.navigation_bar_header_image {
    text-align: center;
}

.navigation_bar_text {
    color: #cc9900;
}

.page_content {
    padding: 1em;
    position: absolute;
    top: 134px;
    left: 230px;
    border: 2px solid #FFFFFF;
    background: #262626 url(http://www.wantonwicked.net/img/bgwod1.gif) no-repeat top center;
    width: 72%;
}

.wikilink {
    font-weight: 600;
}
