* {
    margin: 0;
    padding: 0;
}

body {
    background: #111111;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #cccccc;
    margin: 0;
    padding: 0;
}

#server-time {
    float: right;
    width: 200px;
    text-align: right;
}

ul {
    margin-left: 14px;
}

dt {
    font-weight: bold;
}

dd {
    font-style: normal;
}

h1 {
    font-family: "Special Elite", Georgia, Times, serif;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-family: "Special Elite", Georgia, Times, serif;
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-family: "Special Elite", Georgia, Times, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

h4 {
    font-family: "Special Elite", Georgia, Times, serif;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10px;
}

ul.wicked {
    margin-bottom: 10px;
    list-style-type: none;
}

ul.wicked li:nth-child(even) {
    background-color: #aaa;
}

/*h1 {
    background-color: #000000;
    color: transparent;
    text-shadow: 0 2px 3px rgba(150,0,0,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 1em;
}*/

a:link {
    color: #EFD6AC;
    text-decoration: none;
}

/* unvisited link */
a:visited {
    color: #EFD6AC;
    text-decoration: none;
}

/* visited link */
a:hover {
    color: #FFFFFF;
}

/* mouse over link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */

/* BELOW: All Structural Stuff*/
.widthsetter {
    width: 1000px;
    margin: 0 auto;
}

/* Begin Header/Footer Bars*/
#header {
    background: #0E3B43;
	padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: normal;
}

#main-content {
    margin-bottom: 100px;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background: #0E3B43;
	padding-top:20px;
	padding-bottom:20px;
    margin-bottom: 0px;
    margin-top: 50px;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: normal;
}

/* End Header/Footer Container*/

/* Begin Header Graphic Container */
#logo {
    float: left;
	margin-right:20px;
	width: 150px;
	height:75px;
    background: url('../img/main/ww5logo.png') center no-repeat;
    cursor: pointer;
}
#userpanel {
    float: right;
	margin-left:50px;
	margin-top: 10px;
    margin-bottom: 10px;
}
/* End Header Graphic Container*/

/* Begin Content Container*/
#content {
	background: #111;
}

#pagetitle {
    font-family: "Special Elite", Georgia, Times, serif;
	width: 1000px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

#contenta {
    width: 1000px;
    margin-top:10px;
	margin-bottom: 30px;
}

/* End Content Container*/

/* Begin Main Drop Down Nagivation*/

#nav {
    clear: both;
	width: 1000px;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding-top: 10px;
	margin: auto;
}

.menu a {
    display: block;
}

.button {
    background-color: #3c6e71;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #0E3B43;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    height: 30px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #0E3B43;
}

.button:active {
    position: relative;
    top: 1px;
}

/* Behaviors */
.clickable {
    cursor: pointer;
}

.link {
    color: #EFD6AC;
}

.link:hover {
    color: #ffffff;
}

/* ************************** */
/* Layout Styles  */
/* ************************** */

.paragraph {
    margin-bottom: 10px;
}

/* ************************** */
/* Form Styles                */
/* ************************** */

label {
    font-weight: bold;
}

div.formInput {
    margin-bottom: 10px;
}

div.formInput input, div.formInput select, div.formInput textarea {
    border: solid 1px #000;
    padding: 4px;
}

div.formInput input[type="text"] {
    width: 90%;
}

div.formInput textarea {
    width: 90%;
}

input[type="submit"] {
    padding: 4px;
}

/* ************************** */
/* Wiki Styles                */
/* ************************** */

.wiki-content table {
    border-collapse: separate;
}

.wiki-content table tr:nth-child(even) td {
    background-color: transparent;
}

.wiki-content th {
    text-align: center;
    padding: 0;
}

.wiki-content td {
    padding: 0;
}

/* Tables */
table {
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td {
    font-size: 12px;
    border: 1px solid #333333;
    padding: 5px;
}

table th {
    font-family: "Special Elite", Georgia, Times, serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    border: 1px solid #333333;
    background-color: #0E3B43;
	color: #EFD6AC;
}

table tr:nth-child(odd) {
    background-color: #222222;
}

table tr:nth-child(even) {
    background-color: #222222;
}

/* Sheet Styles */

.xp_sheet_help {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #cccccc;
    background-color: #333333;
    border: thin solid #000;
    padding: 2px;
    width: 100px;
}

.xp_sheet_help_box {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #cccccc;
    background-color: #3c6e71;
    border: thin solid #000;
    visibility: hidden;
}

table.character-sheet {
    margin-bottom: 5px;
}

table.character-sheet label {
    display: inline;
}

table.character-sheet th {
    border: 0;
    background-color: transparent;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

table.character-sheet td {
    background-color: transparent;
}

table.character-sheet td.header-row {
    font-weight: bold;;
    text-align: center;
    font-size: 14px;
}
table.character-sheet tr:nth-child(even) td {
    background-color: transparent;
}

table.character-sheet td input[type="text"] {
    width: 95%;
    border: solid 1px #000;
    padding: 2px;
}

table.character-sheet td input[type="text"][size="3"] {
    border: solid 1px #000;
    padding: 2px;
    width: 30px;
}

table.character-sheet td select {
    border: solid 1px #000;
}

table.character-sheet textarea {
    border: solid 1px #000;
}

table.character-sheet th input {
    border: solid 1px #000;
    padding: 2px;
}

table.character-sheet > tbody > tr > td {
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}

.mortal_normal_text {
    color: #ccc;
    text-align: left;
}

table.mortal_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #9992d6;
    color: #fff;
}

table.mortal_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #8781bd;
    color: #fff;
}

.vampire_normal_text {
    color: #ccc;
    text-align: left;
}

table.vampire_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #9e0b0f;
    color: #fff;
}

table.vampire_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #b80d13;
    color: #fff;
}

.werewolf_normal_text {
    color: #ccc;
    text-align: left;
}

table.werewolf_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #74483f;
    color: #fff;
}

table.werewolf_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #8c564c;
    color: #fff;
}

.mage_normal_text {
    color: #ccc;
    text-align: left;
}

table.mage_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #004a80;
    color: #fff;
}

table.mage_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #005999;
    color: #fff;;
}

.ghoul_normal_text {
    color: #ccc;
    text-align: left;
}

table.ghoul_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #9e0b0f;
    color: #fff;
}

table.ghoul_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #b80d13;
    color: #fff;
}

.changeling_normal_text {
    color: #ccc;
    text-align: left;
}

table.changeling_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #005826;
    color: #fff;
}

table.changeling_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #007332;
    color: #fff;
}

.geist_normal_text {
    color: #ccc;
    text-align: left;
}

table.geist_normal_text > tbody > tr > th:nth-child(odd) {
    background-color: #415582;
    color: #fff;
}

table.geist_normal_text > tbody > tr > th:nth-child(even) {
    background-color: #4e659c;
    color: #fff;
}

.tinymce-content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tinymce-content p {
    padding-bottom: 10px;
}

.tinymce-content ul, .tinymce-content ol {
    padding-left: 40px;
    margin: 11px 0;
}

.flash-message, .message {
    padding: 8px;
    text-align: center;
    font-weight: bold;
	background: #333333;
    border-radius: 5px;
    border: solid 1px #932d4f;
}

.error-message {
    color: #FFF;
    font-weight: bold;
	background: #932d4f;
    border-radius: 5px;
    border: solid 1px #333;
}

.error-message:before {
    content: '* '
}

.paging {
    margin: 10px 0;
    text-align: center;
}

.paging span {
    padding-right: 5px;
}
.paging span.prev {
    text-transform: uppercase;
}

.paging span.next {
    text-transform: uppercase;
}

.paging span.current {
    text-decoration: underline;
    font-weight: bold;
}

#busy-indicator {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 130px;
}

#main-menu {
    margin-top: 9px;
}

div.formInput
{
    margin-bottom:10px;
}

div.cell
{
    float: left;
    border-bottom: solid 1px #222222;
    padding: 3px;
}

div.firstCell
{
    clear: left;
}

div.tableRow
{
    overflow:auto;
}

div.tableRowAlt
{
    overflow:auto;
    background-color: #333333;
}

div.tableRowHeaderCell
{
    background-color: #222222;
    font-weight:bold;
}

div.checkbox label
{
    display: inline;
}

div.submit {
    display: inline;
}

.secondary-text {
    color: #cccccc;
}

.hidden-panel-content {
    display:none;
    border: 1px solid #000;
    background-color:#333333;
    padding:5px;
}

/* Calendar classes */
.calendar-day-head {
    font-weight: bold;
}

.calendar-day {
    vertical-align: top;
    width: 14%;
}

.calendar-day-today {
    background-color: #222222;
}

.mortal {
    background-color: #eee;
    border: solid 1px #000;
    padding: 3px;
}

ul.tags {
    list-style: none;
}

.tags li {
    display: inline;
}
