<!DOCTYPE>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
   <META NAME="copyright" content="(c) 2013 Jeff Vandenberg">
    <META NAME="ROBOTS" CONTENT="noimageindex,follow">
    <link rel='stylesheet' href='$SkinDirUrl/wantonwicked.css' type='text/css' />
    <link type="text/css" href="/css/gaming-sandbox.css" rel="Stylesheet"/>
    <link type="text/css" href="/css/wanton/jquery-ui.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/wanton/jquery.ui.menubar.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.menubar.js"></script>
    <script type="text/javascript" src="/js/server_time.js"></script>
    <script type="text/javascript" src="/js/wanton.js"></script>
    <script type="text/javascript" src="/js/gaming-sandbox.js"></script>
 <!--HTMLHeader-->
    <script type="text/javascript">
        wantonWickedTime.serverTime = '$ServerTime';
    </script>
</head>
<body>
<body>
<div id="header">
<div id="wrapper">
		<div id="logo"><img src="/wiki/pub/skins/wantonwicked/imgs/ww5logo.png" alt="" width="150" height="75" /></div><div id="userpanel"><span>{$SiteUPName}</span>
			<span id="server-time" style="float:right;"></span><br>
			{$LogInOut}<br>
            {$UserControlPanel}
            </div>
	<div id="nav">
		{$MenuBar}
	</div>
</div>
</div>
<div id="wrapper">
    <div id="content">
        <div id="pagetitle">
		{$Title}
		</div>
		<div id="contenta" class="contentbox">
            <div id='wikihead' align="right">
				<div id='wikititle' align="right">Group: <a href='{$ScriptUrl}/{$Group}'>{$Group}</a>&nbsp;</div>
				<div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
					<br>
					<form action='{$ScriptUrl}'>
					<span class='headnav'><a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'accesskey='$[ak_recentchanges]'>$[Recent Changes]</a> -</span>
					<input type='hidden' name='n' value='{$FullName}' />
					<input type='hidden' name='action' value='search' />
					<a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
					<input type='text' name='q' value='' class='inputbox searchbox' />
					<input type='submit' class='inputbutton searchbutton' value='$[Go]' /></form>
			</div>
		<!--/PageHeaderFmt-->
		<div id='wikimid' width='100%' cellspacing='0' cellpadding='10'>
			<div id='wikibody'>
			<!--PageText-->
			</div>
		</div>
		</div>
    </div>
</div>

<!--PageFooterFmt-->
  <div id="footer" align="center">
	<div id="wrapper">
		<div id='wikifoot'>
			<div class='footnav'>
			<a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
			<a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
			<a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
			<a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
			<a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>
			</div>
			<div class='lastmod'>$[Page last modified on {$LastModified}]
			</div>
		</div>
		<div id="contenta" class="contentbox">
        <div style="font-size: 9px;text-align: center;">The Storytelling System, Beast the Primordial, Changeling the Lost, Chronicles of Darkness, Demon the Descent, Mage the Awakening, Vampire the Requiem, and Werewolf the Forsaken<br> 
		&copy;2014-2016 CCP hf and published by <a href="http://theonyxpath.com/" target="_blank">Onyx Path Publishing</a>.<br>
		Produced by Jeff Vandenberg. Layout and Design by Jill Arden &copy;2016
        </div>
    </div>
	</div>
</div>
<!--HTMLFooter-->
</body>
</html>
