<!-- INCLUDE overall_header.html -->

<div class="contentwrapper">
	<div class="cw2"><div class="cw3"><div class="cw4"><div class="cw5">
		<h2 class="ctitle">{MESSAGE_TITLE}</h2>
		<div class="cfill">
			<div class="crow approve">
				{MESSAGE_TEXT}
				<!-- IF SCRIPT_NAME == "search" and not S_BOARD_DISABLED and not S_NO_SEARCH and L_RETURN_TO_SEARCH_ADV --><br /><br /><a href="{U_SEARCH}" class="{S_CONTENT_FLOW_BEGIN}">{L_RETURN_TO_SEARCH_ADV}</a><!-- ENDIF -->
			</div>
		</div>
		<div class="clear"></div>
	</div></div></div></div>
</div>
<div class="clear"></div>

<!-- INCLUDE overall_footer.html -->