<!DOCTYPE>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
   <META NAME="copyright" content="(c) 2013 Jeff Vandenberg">
    <META NAME="ROBOTS" CONTENT="noimageindex,follow">
    <link rel='stylesheet' href='$SkinDirUrl/wantonwicked.css' type='text/css' />
    <link type="text/css" href="../css/gaming-sandbox.css" rel="Stylesheet"/>
    <link type="text/css" href="../css/blitzer/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="../js/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../js/wanton.js"></script>
    <script type="text/javascript" src="../js/gaming-sandbox.js"></script>
 <!--HTMLHeader-->
    <script type="text/javascript">
        var servertime = $ServerTime;
    </script>
</head>
<body>
<div id="gs-header-bar">
    <div id="gs-header-inner">
        <div id="gs-header-logo">
            <a href="/" id="gs-header-logo-nav">
                Wanton Wicked
            </a>
        </div>
        <div id="gs-header-games">
            <select id="gs-game-selector">
                <option value="www">Home</option>
                <option value="ragnarok">Ragnarok NYC</option>
                <option value="wantonwicked" selected>Wanton Wicked</option>
            </select>
        </div>
    </div>
</div>
		<div id="wrapper">
<div id='login' style="width:1000px; height:50px; border:1px solid #000000; border-radius: 5px; -moz-border-radius: 5px; background-image: url('../img/main/bg2.jpg'); margin-bottom: 10px; margin-top: 50px;"> 
<div id='logina' style="width:1000px; margin-top: 10px; height: 30px; border-top: 1px solid #000; border-bottom: 1px solid #000; color:#FFFFFF; font-size:14px; font-weight: normal; background: #898989;"> 
<div id='loginb' align="left" style="height:20px; padding:5px; background-image: url('../img/main/headerbg.jpg');">
<span>{$SiteUPName}</span> -
            {$LogInOut}
            {$UserControlPanel}
            <span id="server-time" style="float:right;"></span></div>
</div>
</div>
<div id='header' align="center">
<img src="http://wantonwicked.gamingsandbox.com/sandbox/imgs/ww_banner.png" alt="" width="652" height="100" /></div>


<div id='nav'>
{$MenuBar}
</div>

<div id='content'>
<div id='pagetitle'>
{$Title}
</div>
<div id='contenta'>
	<div id='contentb'>
		<div id='wikihead' align="right">
		<div id='wikititle' align="right">Group: <a href='{$ScriptUrl}/{$Group}'>{$Group}</a>&nbsp;</div>
		<div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
		<br>
			<form action='{$ScriptUrl}'>
			<span class='headnav'><a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'accesskey='$[ak_recentchanges]'>$[Recent Changes]</a> -</span>
			<input type='hidden' name='n' value='{$FullName}' />
			<input type='hidden' name='action' value='search' />
			<a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
			<input type='text' name='q' value='' class='inputbox searchbox' />
			<input type='submit' class='inputbutton searchbutton' value='$[Go]' /></form></div>
		<!--/PageHeaderFmt-->
		<div id='wikimid' width='100%' cellspacing='0' cellpadding='10'>
			<div id='wikibody'>
			<!--PageText-->
			</div>
		</div>
		<div id='wikifoot'>
			<div class='footnav'>
			<a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
			<a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
			<a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
			<a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
			<a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>
			</div>
			<div class='lastmod'>$[Page last modified on {$LastModified}]
			</div>
		</div>
	</div>
</div>
</div>
<br>
<!--PageFooterFmt-->
	<div id="content">
		<div id="contenta">
		<div id="contentb" class="contentbox">
            <center><font size="-6">World of Darkness, Changeling: The Lost, Geist: The Sin-Eaters, Mage: The Awakening, Vampire: The Requiem, Werewolf: The Forsaken <br>
&copy;2013-2014 <a href="http://www.white-wolf.com/fansites/termsofuse.php" target="_blank">White Wolf Publishing, Inc.</a></font></center>
		</div>
        </div>
    </div>
  <div id="footer" align="center">
	<p>Copyright &copy 2013-2014 <a href="http://gamingsandbox.com/" target="_new">GamingSandbox</a></p>
</div>
<!--HTMLFooter-->
</body>
</html>
