<!DOCTYPE>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
    <META NAME="copyright" content="(c) 2013 Jeff Vandenberg">
    <META NAME="ROBOTS" CONTENT="noimageindex,follow">
    <link rel='stylesheet' href='$SkinDirUrl/wantonwicked.css' type='text/css' />
    <link type="text/css" href="../css/gaming-sandbox.css" rel="Stylesheet"/>
    <link type="text/css" href="../css/blitzer/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="../js/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../js/wanton.js"></script>
    <script type="text/javascript" src="../js/gaming-sandbox.js"></script>
 <!--HTMLHeader-->
    <script type="text/javascript">
        var servertime = $ServerTime;
    </script>
</head>
<body>
<div id="gs-header-bar">
    <div id="gs-header-inner">
        <div id="gs-header-logo">
            <a href="/" id="gs-header-logo-nav">
                Wanton Wicked
            </a>
        </div>
        <div id="gs-header-games">
            <select id="gs-game-selector">
                <option value="www">Home</option>
                <option value="ragnarok">Ragnarok NYC</option>
                <option value="wantonwicked" selected>Wanton Wicked</option>
            </select>
        </div>
    </div>
</div>
		<div id="wrapper">
<div id='login' style="width:1000px; height:50px; border:1px solid #000000; border-radius: 5px; -moz-border-radius: 5px; background-image: url('../img/main/bg2.jpg'); margin-bottom: 10px; margin-top: 50px;"> 
<div id='logina' style="width:1000px; margin-top: 10px; height: 30px; border-top: 1px solid #000; border-bottom: 1px solid #000; color:#FFFFFF; font-size:14px; font-weight: normal; background: #898989;"> 
<div id='loginb' align="left" style="height:20px; padding:5px; background-image: url('../img/main/headerbg.jpg');">
<span>{$SiteUPName}</span> - 
{$LogInOut} 
{$UserControlPanel} 
<span style="float:right;" id="server-time"></span></div>
</div>
</div>
<div id='header' align="center">
<img src="http://wantonwicked.gamingsandbox.com/sandbox/imgs/ww_banner.png" alt="" width="652" height="100" /></div>


<div id='nav'>
<div id='navmenu'>
<ul>
   <li class='active'><a href='/index.php'><span>Home</span></a></li>
   <li><span>The Setting</span>
      <ul>
         <li><a href='/wiki/index.php?n=City.City'><span>The City</span></a></li>
         <li><a href='/wiki/index.php?n=Changeling.Changeling'><span>Changeling</span></a>
         	<ul>
			   <li><a href='/wiki/index.php?n=Changeling.HouseRules'><span>Changeling House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Changeling.PlayerGuide'><span>Changeling Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Changeling'><span>Changeling Cast</span></a></li>
            </ul></li>
            <li><a href='/wiki/index.php?n=Geist.Geist'><span>Geist</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Geist.HouseRules'><span>Geist House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Geist.PlayerGuide'><span>Geist Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Geist'><span>Geist Cast</span></a></li></ul></li>
         <li><a href='/wiki/index.php?n=Mage.Mage'><span>Mage</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Mage.HouseRules'><span>Mage House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Mage.PlayerGuide'><span>Mage Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Mage'><span>Mage Cast</span></a></li>
            </ul></li>
         <li><a href='/wiki/index.php?n=Mortal.Mortal'><span>Mortal</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Mortal.HouseRules'><span>Mortal House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Mortal.PlayerGuide'><span>Mortal Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Mortal'><span>Mortal Cast</span></a></li>
            </ul></li>
         <li><a href='/wiki/index.php?n=Vampire.Vampire'><span>Vampire</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Vampire.HouseRules'><span>Vampire House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Vampire.PlayerGuide'><span>Vampire Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Vampire'><span>Vampire Cast</span></a></li>
            </ul></li>
         <li><a href='/wiki/index.php?n=Werewolf.Werewolf'><span>Werewolf</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Werewolf.HouseRules'><span>Werewolf House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Werewolf.PlayerGuide'><span>Werewolf Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Werewolf'><span>Werewolf Cast</span></a></li>
            </ul></li>
            <li><a href=''><span>Crossover Sub-venues</span></a>
         	<ul>
               <li><a href='/wiki/index.php?n=Whitefield.Whitefield'><span>Whitefield University</span></a>
			   <ul>
               <li><a href='/wiki/index.php?n=Whitefield.HouseRules'><span>Whitefield House Rules</span></a></li>
			   <li><a href='/wiki/index.php?n=Whitefield.PlayerGuide'><span>Whitefield Player Guide</span></a></li>
			   <li><a href='/wiki/index.php?n=Players.Whitefield'><span>Whitefield Cast</span></a></li>
            </ul>
			   </li>
            </ul></li>
         <li><a href='/wiki/index.php?n=Players'><span>The Cast</span></a></li>
      </ul>
   </li>
   <li><span>Game Guide</span>
      <ul>
         <li><a href='#'><span>House Rules</span></a>
            <ul>
               <li><a href='/wiki/index.php?n=GameRef.HouseRules'><span>Errata and Clarifications</span></a></li>
               <li><a href='/wiki/index.php?n=GameRef.PoliciesandPractices'><span>Policies and Practices</span></a></li>
               <li><a href='/wiki/index.php?n=GameRef.CrossoverErrata'><span>Crossover Errata</span></a></li>
            </ul>
         </li>
         <li><a href='/wiki/index.php?n=GameRef.CharacterCreation'><span>Character Creation</span></a>
         <ul>
         <li><a href='/wiki/index.php?n=GameRef.SanctioningGuide'><span>Sanctioning Checklist</span></a></li>
         <li><a href='/wiki/index.php?n=GameRef.BookPolicy'><span>Book Policy</span></a></li>
         </ul></li>
         <li><a href='/wiki/index.php?n=GameRef.ExperienceGuide'><span>Experience Guide</span></a></li>
         <li><a href='/wiki/index.php?n=GameRef.CrossoverPolicy'><span>Crossover Policy</span></a></li>
      </ul>
   </li>
   <li><span>Tools</span>
      <ul>
         <li><a href='/chat.php'><span>Game/Chat Interface</span></a></li>
         <li><a href='/wiki/index.php?n=GameRef.Help'><span>Help</span></a>
            <ul>
               <li><a href='/wiki/index.php?n=GameRef.RequestSystemHelp'><span>Request System</span></a></li>
               <li><a href='/wiki/index.php?n=GameRef.ChatHelp'><span>Chat Interface</span></a></li>
            </ul>
         </li>
         <li><a href='/support.php'><span>Site Supporter</span></a>
         <ul>
               <li><a href='http://wantonwicked.gamingsandbox.com/...?'><span>Manage Supporters</span></a></li></ul></li>
         <li class='has-sub last'><a href='http://wantonwicked.gamingsandbox.com/...?'><span>ST Tools</span></a></li>
      </ul>
   </li>
   <li><a href='/forum/index.php'><span>Forums</span></a></li>
   <li class='has-sub last'><span>Site Info</span>
      <ul>
	  <li><a href='/index.php?action=storytellers'><span>The Team</span></a></li>
         <li><a href='/wiki/index.php?n=GameRef.CodeOfConduct'><span>Code of Conduct</span></a>
            <ul>
               <li><a href='/wiki/index.php?n=GameRef.PersonalInformation'><span>Personal Information</span></a></li>
            </ul>
         </li>
         <li><a href='/wiki/index.php?n=GameRef.Disclaimer'><span>Disclaimer</span></a></li>
         <li><a href='/site_content.php?action=view&content_uid=links'><span>Links</span></a></li>
      </ul>
   </li>
</ul>
</div>
</div>

<div id='content'>
<div id='pagetitle'>
{$Title}
</div>
<div id='contenta'>
<div id='contentb'>
  <div id='wikihead' align="right">
  <div id='wikititle' align="right">Group: <a href='{$ScriptUrl}/{$Group}'>{$Group}</a>&nbsp;</div>
  <div id='wikicmds'><!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions--></div>
  <br>
  <form action='{$ScriptUrl}'>
    <span class='headnav'><a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'
      accesskey='$[ak_recentchanges]'>$[Recent Changes]</a> -</span>
    <input type='hidden' name='n' value='{$FullName}' />
    <input type='hidden' name='action' value='search' />
    <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
    <input type='text' name='q' value='' class='inputbox searchbox' />
    <input type='submit' class='inputbutton searchbutton'
      value='$[Go]' /></form></div>
<!--/PageHeaderFmt-->
  <div id='wikimid' width='100%' cellspacing='0' cellpadding='10'>
<div id='wikibody'>
    <!--PageText-->
      </div>
	  </div>
	<div id='wikifoot'>
    <div class='footnav'>
      <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
      <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
      <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
      <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
      <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a></div>
    <div class='lastmod'>$[Page last modified on {$LastModified}]</div></div>
	</div>
	</div>
	</div>
<!--PageFooterFmt-->
  <div id="footer" align="center">
	<p>Copyright &copy 2010 <a href="#">Website Name</a></p>
</div>
<!--HTMLFooter-->
</body>
</html>
