<!DOCTYPE>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
   <META NAME="copyright" content="(c) 2013 Jeff Vandenberg">
    <META NAME="ROBOTS" CONTENT="noimageindex,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='$SkinDirUrl/wantonwicked.css' type='text/css' />
    <link rel='stylesheet' href='/css/app.css' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/server_time.js"></script>
    <script type="text/javascript" src="/js/foundation.js"></script>
    <script type="text/javascript" src="/js/wanton.js"></script>
 <!--HTMLHeader-->
    <script type="text/javascript">
        wantonWickedTime.serverTime = '$ServerTime';
    </script>
</head>
<body>
<div id="header">
    <div class="title-bar" data-hide-for="medium" data-responsive-toggle="nav-top">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-logo" role="banner">
            <a href="/" title="Wanton Wicked">
                <img src="/img/ww_logo_50x50.png" alt="Wanton Wicked Logo"/>
            </a>
        </div>
    </div>
    <nav id="nav-top" class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%"
         data-top-anchor="main-content">
        <ul class="menu">
            <li class="topbar-title title-logo show-for-medium"
                role="banner">
                <a href="/" title="Wanton Wicked">
                    <img src="/img/ww_logo_50x50.png" alt="Wanton Wicked Logo"/>
                </a>
            </li>
        </ul>
        <div class="top-bar-left">
            {$MenuBar}
        </div>
        <div class="top-bar-right">
            {$UserControlPanel}
        </div>
    </nav>
</div>
<div id="main-content" class="widthsetter">
    <div class="row">
        <div class="small-12 column text-center">
            <div class="float-right">
                <form action='{$ScriptUrl}'>
                    <ul class="menu">
                        <li>
                            <input type='hidden' name='n' value='{$FullName}' />
                            <input type='hidden' name='action' value='search' />
                            <!--<a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:-->
                            <input type='text' name='q' value='' class='' placeholder="$[Search]" />
                        </li>
                        <li>
                            <button type='submit' class="button">$[Go]</button>
                        </li>
                    </ul>
                </form>
            </div>
            <h3><a href="{$ScriptUrl}/{$Group}">$Group</a>: {$Title}</h3>
        </div>
    </div>
    <!--/PageHeaderFmt-->
    <div class="row">
        <div class="small-12 column">
            <div id='wikibody'>
            <!--PageText-->
            </div>
        </div>
    </div>
</div>

<!--PageFooterFmt-->
<div id="footer">
    <div class="row">
        <div class="small-12 medium-4 column">
            <div id='wikifoot'>
                <div class='footnav'>
                <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
                <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
                <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
                <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
                <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>
                </div>
                <div class='lastmod'>$[Page last modified on {$LastModified}]
                </div>
            </div>
        </div>
        <div class="small-12 medium-8 column text-center">
            <div style="font-size: 9px;">The Storytelling System, Beast the Primordial, Changeling the Lost, Chronicles of Darkness, Demon the Descent, Mage the Awakening, Vampire the Requiem, and Werewolf the Forsaken
            &copy;2014-2016 CCP hf and published by <a href="http://theonyxpath.com/" target="_blank">Onyx Path Publishing</a>.<br />
            Produced by Jeff Vandenberg. Layout and Design by Jill Arden &copy;2016</div>
        </div>
    </div>
</div>
<!--HTMLFooter-->
</body>
</html>
