<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$WikiTitle | {$Group} / {$Title} $ActionTitle</title>
    <META NAME="copyright" content="(c) 2013 Jeff Vandenberg">
    <META NAME="ROBOTS" CONTENT="noimageindex,follow">
    <link rel='stylesheet' href='$SkinDirUrl/pmwiki.css' type='text/css' />
    <link type="text/css" href="../css/wicked_4.css" rel="Stylesheet"/>
    <link type="text/css" href="../css/gaming-sandbox.css" rel="Stylesheet"/>
    <link type="text/css" href="../css/blitzer/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="../js/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="../js/wanton.js"></script>
    <!--HTMLHeader-->
    <script type="text/javascript">
        var servertime = $ServerTime;
    </script>
</head>
<body>
<div id="gs-header-bar">
    <div id="gs-header-inner">
        <div id="gs-header-logo">
            <a href="/" id="gs-header-logo-nav">
                Wanton Wicked
            </a>
        </div>
        <div id="gs-header-games">
            <select id="gs-game-selector">
                <option value="www">Home</option>
                <option value="ragnarok">Ragnarok NYC</option>
                <option value="wantonwicked" selected>Wanton Wicked</option>
            </select>
        </div>
    </div>
</div>
<div id="container">
    <div id="header-bar">
        <div id="header-bar-background">
        </div>
        <div id="header-bar-inner">
            <span>{$SiteUPName}</span> -
            {$LogInOut}
            {$UserControlPanel}
            <span id="server-time"></span>
        </div>
    </div>
    <div id="logo">
    </div>
    <div id="content-wrapper">
        <div id="left-menu" class="content-box">
            <div class="box-header">
                Menu
            </div>
            <div class="box-content">
                <div id="left-menu-content">
                    {$MenuBar}
                </div>
            </div>
        </div>
        <div id="content" class="content-box wiki-content">
            <div class="box-header">
                {$Group} / {$Title} $ActionTitle
            </div>
            <div class="box-content">
                <!--PageActionFmt-->
                <div id='wikicmds'>
                    <!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
                </div>

                <div id='wikihead'>
                    <form action='{$ScriptUrl}'>
				<span class='headnav'>
					<a href='{$ScriptUrl}/Site/AllRecentChanges'>$[All Recent Changes]</a> -
					<a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'
                       accesskey='$[ak_recentchanges]'>$[Recent Changes]</a> -
				</span>
                        <input type='hidden' name='n' value='{$FullName}' />
                        <input type='hidden' name='action' value='search' />
                        <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
                        <input type='text' name='q' value='' class='inputbox searchbox' />
                        <input type='submit' class='inputbutton searchbutton'
                               value='$[Go]' />
                    </form>
                </div>

                <!--PageTitleFmt-->
                <div id='wikititle'>
                    <div class='pagegroup'>
                        <a href='{$ScriptUrl}/{$Group}'>{$Group}</a> /</div>
                    <h1 class='pagetitle'>{$Title}</h1>
                </div>

                <div class="page_top">
                    <!--PageText-->
                </div>

                <div style="clear: both;"></div>
                <!--PageFooterFmt-->
                <div id='wikifoot'>
                    <div class='footnav'>
                        <!--PageEditLinkFmt-->
                        <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
                        <!--/PageEditLinkFmt-->
                        <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
                        <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
                        <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
                        <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a></div>
                    <div class='lastmod'>
                        $[Page last modified on {$LastModified} by {$LastModifiedBy}]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--HTMLFooter-->
<div id="footer-bar">
    <div id="footer-inner">
        <div id="right-footer">
            Images by jarden
            Produced by Jeff Vandenberg
            Copyright 2013
        </div>
        <div id="left-footer">
            <a href="http://www.white-wolf.com/fansites/termsofuse.php" target="_blank">Copyright White Wolf Publishing, Inc.</a>
        </div>
    </div>
</div>
</body>
</html>
